.alac-pack-star-div {
    display: flex;
    gap: 5px;
}

.alac-pack-star {
    width: 25.264px;
    height: 25.264px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alac-pack-previous-arrow {
    display: flex;
    width: 44.212px;
    height: 44.212px;
    padding: 9.474px 9.475px 9.474px 9.473px;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    border: 1.053px solid var(--grey, #5D6165);
    background: rgba(255, 255, 255, 0.00);
    margin-right: 15px;
}

.alac-pack-previous-arrow>svg {
    width: 25.264px;
    height: 25.264px;
    flex-shrink: 0;
}

.alac-pack-next-arrow {
    display: flex;
    width: 44.212px;
    height: 44.212px;
    padding: 9.474px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 15px;
    border: 1.053px solid var(--grey, #5D6165);
    background: rgba(255, 255, 255, 0.00);
}

.alac-pack-next-arrow:hover>svg>path,
.alac-pack-previous-arrow:hover>svg>path {
    stroke: white;
}

.alac-pack-next-arrow:hover,
.alac-pack-previous-arrow:hover {
    background: var(--Linear, linear-gradient(90deg, #800080 3.92%, #B466C1 52.78%, #800080 92.42%));
    border: none;
}

.alac-pack-next-arrow>svg {
    width: 25.264px;
    height: 25.264px;
    border-radius: 50%;
    flex-shrink: 0;
}

@media (max-width: 1080px) {
    .alac-pack-star>svg {
        width: 18px;
        height: 18px;
    }

    .alac-pack-star {
        width: 18px;
        height: 18px;
    }

    .alac-pack-star-div {
        gap: 2px;
    }

    .alac-pack-next-arrow {
        margin-left: 8px;
    }

    .alac-pack-previous-arrow {
        margin-right: 8px;
    }
}

@media (max-width: 480px) {
    .alac-pack-star-div {
        flex-wrap: wrap;
    }

    .alac-pack-star,
    .alac-pack-star>svg {
        width: 14.574px;
        height: 14.574px;
    }

    .alac-pack-tct-l {
        gap: 8px;
    }

    .alac-pack-next-arrow,
    .alac-pack-previous-arrow {
        width: 28px;
        height: 28px;
        position: relative;
        padding: 0;
        border-radius: 50%;
    }

    .alac-pack-previous-arrow>svg,
    .alac-pack-next-arrow>svg {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, 20%);
    }
}