:root {
    --Woodsmoke-950: #1B1B1D;
    --light-black: #585858;
}

.alac-pack-text-black {
    color: black;
}

.alac-pack-text-white {
    color: white;
}

.alac-pack-text-pink {
    color: #800080;
}

.alac-pack-text-light-pink {
    color: var(--800080, rgba(128, 0, 128, 0.87));
}

.alac-pack-bg-light-pink {
    background: rgba(128, 0, 128, 0.87);
}

.alac-pack-wood-smoke-950 {
    color: var(--Woodsmoke-950);
}

.alac-pack-text-light-black {
    color: var(--light-black);
}

.alac-pack-f-55 {
    font-size: 55px;
}

.alac-pack-f-34 {
    font-size: 34px;
}

.alac-pack-td-lt {
    text-decoration: line-through;
}

.alac-pack-f-20 {
    font-size: 20px;
}

.alac-pack-f-48 {
    font-size: 48px;
}

.alac-pack-f-18 {
    font-size: 18px;
}

.alac-pack-f-16 {
    font-size: 16px;
}

.alac-pack-fw-400 {
    font-weight: 400;
}

.alac-pack-fw-500 {
    font-weight: 500;
}

.alac-pack-fw-600 {
    font-weight: 600;
}

.alac-pack-fw-700 {
    font-weight: 700;
}

.alac-pack-fw-800 {
    font-weight: 800;
}

.alac-pack-fw-900 {
    font-weight: 900;
}

.alac-pack-va-mid {
    vertical-align: middle;
}

.alac-pack-section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 64px 64px;
}

.alac-pack-text-center {
    text-align: center;
}

.alac-pack-f-45 {
    font-size: 45px;
}

@media (width>1280px) {
    .alac-pack-section {
        max-width: 100%;
    }
}

@media (width<1280px) {
    .alac-pack-section {
        padding: 64px 64px;
    }

    .alac-pack-f-55 {
        font-size: 50px;
    }
}

@media (width<1180px) {
    .alac-pack-f-55 {
        font-size: 42px;
    }
}

@media (width<980px) {
    .alac-pack-section {
        padding: 64px 32px;
    }

    .alac-pack-f-55 {
        font-size: 45px;
    }
}

@media (width<780px) {
    .alac-pack-section {
        padding: 64px 32px;
    }

    .alac-pack-f-16 {
        font-size: 15px;
    }

    .alac-pack-f-18 {
        font-size: 15px;
    }

    .alac-pack-f-48 {
        font-size: 38px;
    }

    .alac-pack-f-45 {
        font-size: 40px;
    }
}

@media (width<580px) {
    .alac-pack-f-34 {
        font-size: 31px;
    }

    .alac-pack-f-45 {
        font-size: 35px;
    }

    .alac-pack-f-20 {
        font-size: 18px;
    }
}

@media (width<480px) {
    .alac-pack-f-20 {
        font-size: 16px;
    }

    .alac-pack-section {
        padding: 48px 16px;
    }

    .alac-pack-f-45 {
        font-size: 30px;
    }

    .alac-pack-f-55 {
        font-size: 35px;
    }

    .alac-pack-f-48 {
        font-size: 30px;
    }

    .alac-pack-f-16 {
        font-size: 14px;
    }

    .alac-pack-f-18 {
        font-size: 12px;
    }

    .alac-pack-f-34 {
        font-size: 28px;
    }
}



@media (width<1280px) {}

@media (width<1080px) {}

@media (width<780px) {}

@media (width<580px) {}

@media (width<480px) {}

@media (width<360px) {}